*{box-sizing:border-box;margin:0;padding:0}html{font-family:sans-serif;line-height:1.75rem}p,ul,ol{margin-bottom:1.75rem;font-size:1rem}li{margin-left:1.25rem}img{max-width:100%;height:auto;width:auto}body{max-width:65rem;min-width:20rem;margin:0 auto}.container{margin:0.5rem}html{background:#ccc}.module{padding:2rem;background:white;box-shadow:0 0 0.25rem rgba(0,0,0,0.25)}.module>:last-child,.module>:last-child>:last-child,.module>:last-child>:last-child,.module>:last-child{margin-bottom:0}
