* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.75rem;
}

p, ul, ol {
  margin-bottom: 1.75rem;
  font-size: 1rem;
}

li {
  margin-left: 1.25rem;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}