$grey: #cccccc;

html {
  background: $grey;
}

.module {
  padding: 2rem;
  background: white;
  box-shadow: 0 0 0.25rem rgba(black, 0.25);
  & > :last-child,
  & > :last-child > :last-child,
  & > :last-child > :last-child, > :last-child {
    margin-bottom: 0;
  }
}